<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studyEnglish.mapper.DateRecordMapper">

    <select id="findLatestSevenDaysData" resultType="com.studyEnglish.entity.DateRecord">
        select * from date_record where date > DATE_SUB(CURDATE(), INTERVAL 7 DAY ) and user_id = #{userId}
    </select>
</mapper>
